.idea/.gitignore
.idea/alx-system_engineering-devops.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles/profiles_settings.xml
0x15-api/2.csv
0x15-api/2.json
